
.navbar-brand {
  font-family: 'LeanOFYW01-Bold';
}

#mainNav.navbar-shrink .navbar-brand {
  color: $gray-700;
}

.masthead {
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%, #{fade-out($black, .3)} 75%, $black 100%), url('/assets/img/bg1.jpg');

  h1 {
    -webkit-text-fill-color: currentColor;
    color: $gray-200;
  }
}

.about-section {
  p {
    margin-bottom: 2rem;
  }
}

.highlight {
  color: $primary;
}
