.team-section {
  @media (min-width: 992px) {
    padding: 0.1rem 5rem 5rem 5rem;
    hr {
      border-color: $primary;
      border-width: .25rem;
      width: 30%;
    }
  }

  a {
    color: $gray-900;
  }
}

.projects-section {
  padding-bottom: 0;
}

@font-face {
  font-family: "LeanOFYW01-Bold";
  src: url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.eot");
  src: url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/552a676bb549767452030a3022893604.svg#LeanOFYW01-Bold") format("svg");
}
